@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	margin: 8;
}

header {
	padding: 25px;
	text-align: center;
	background: #1B1C1D;
	color: white;
}

.container {  
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 20%;
	background-color: #171A45;
	padding: 20px;
}

.img {
	width: 100%;
	padding: 10px;
}

.friendsimg {
	clip-path: circle(50% at 50% 50%);
	padding: 10px;
}

.friendstext {
	display: flex;             
	align-items: center; 
	gap: 15px;
}

.main {
	flex: 70%;
	padding: 20px;
	color: white;
	background: url('content/background.jpg') no-repeat fixed center / cover;
}

@media screen and (max-width: 700px) {
	.container, .navbar {   
		flex-direction: column;
	}
}
